---
layout: default
title: "Kevin Ma - Software Designer in New York"
permalink: "/"
---

<script type="text/paperscript" src="/assets/js/needles.js" canvas=canvasThumbnail></script>

<article class="mw9 center graphik f5 fw4 ph4-ns ph3 w-100">
    <header class="cf"></header>

    {% for project in site.project %}{% if project.case-study and project.hide != true %}
    <section class="pv5 cf">
      <div class="w-100 w-50-m w-25-l fn fl-ns">
        <div class="mr4-l mr5-m mr0">
          <p class=" lh-copy mt0 mb4 mb0-ns">
            <span>{{ project.title }} </span>
            <span class="black-30">{{ project.year }}</span>
            <br><br>
            <span>{{ project.description }}</span>
            {% if project.action != "none" %}
              <br><br>
              <a href="{{ project.url | prepend: site.baseurl }}" class="f4 black underline">{{project.action}} ></a> 
            {% endif %}
          </p> 
        </div>
      </div>
      <!-- Image. Replace with CANVAS if special project -->
      <div class="w-100 w-50-m w-75-l fn fl-ns">
        {% if project.action == "none" %}
        <div class="cover aspect-ratio aspect-ratio--16x9 "
          style="background:whitesmoke url({{site.baseurl}}/assets/img/{{project.img}}) center;">
        </div>
        {% endif %}
        {% if project.special == "codeart" %}
        <a href="{{ project.url | prepend: site.baseurl }}" class="w-100 fl border-box overflow-visible"
          style="background: white;">
          <canvas resize="true" id="canvasThumbnail" style="background:#3E5D2F; height:100%;"></canvas>
        </a>
        {% endif %}
      </div>
    </section>
    {% endif %}{% endfor %}

    <section class="pv6 cf" id="posts">
      <div class="w-100 w-50-m w-25-l fn fl-ns">
        <p class="lh-copy mt0 mb0-ns mb4">Writing </p>
      </div>
      {% for project in site.project %}{% if project.case-study != true and project.hide != true %}
      <div class="w-100 w-50-m w-25-l fn fl-ns">
        {% if project.action == "link" %}<a href="{{ project.url | prepend: site.baseurl }}" class="link black dim">
          {% else if project.action == "externallink" %}<a href="{{ project.externalurl}}" class="link black dim">{% endif %}
            <div class="mr4-ns mr0 mb0-l mb5">
              <p class="lh-copy mt0">
                <span>{{ project.title }}</span>
                <span class="black-30">{{project.year}}</span>
                <br><br>
                <span>{{ project.description }} </span>
              </p>
            </div>
          </a>
      </div>
      {% endif %}{% endfor %}
    </section>
</article>