
<footer class="db dt-l ph3 ph4-ns border-box pv3-ns mt5 mw9 w-100 graphik center">
    <div class="db dtc-l tc w-50-l w-100 tl-l"><a href="/" class="f3 fw4 link black-30 graphik dib lh-title">Built by Kevin © 2019</div>
    <div class="db dtc-l tc w-100 w-50-l tr-l tl">
      <a href="https://www.linkedin.com/in/kevinma8/" class="f3 fw4 link  dib ml4 ml5-l black-30 hover-black">linkedin</a>
      <a href="https://www.are.na/kevin-ma" class="f3 fw4 link  dib ml4 ml5-l black-30 hover-black">are.na</a>
    </div>
  </footer>
