<footer class="pa3 pa4-ns border-box mt5 mw9 w-100 graphik center f-standard">
    <div class="w-50-ns w-100 fl-ns fn"><a href="/" class="link dib lh-title dib black-30">© 2020<a> <a class="link black-30 hover-black" href="https://tachyons.io#principles">with tachyons</a></div>
    <div class="w-50-ns w-100 fr-ns fn">
      <a href="https://www.linkedin.com/in/kevinma5/" class="fr-ns fn link dib ml4-ns ml0 black-30 hover-black">linkedin</a>
      <a href="https://www.are.na/kevin-ma" class="fr-ns fn link dib ml4 black-30 hover-black">are.na</a>
      <a href="https://github.com/mayybee" class="fr-ns fn link dib ml4 black-30 hover-black">github</a>
    </div>
</footer>
