
<footer class="db dt-ns ph3 ph4-ns border-box pv4-ns pv3 mt5 mw9 w-100 graphik center black-30 f4 fw4">
    <div class="dtc w-50-l w-100 tl"><a href="/" class="link graphik dib lh-title dib black-30">© 2020<a> <a class="link black-30 hover-black" href="https://tachyons.io#principles">with tachyons</a></div>
    <div class="dtc w-50-l w-100 tr">
      <a href="https://www.linkedin.com/in/kevinma5/" class=" f4 fw4 link  dib ml0 mb0-l mb3 black-30 hover-black">linkedin</a>
      <a href="https://www.are.na/kevin-ma" class="link  dib ml4 ml5-l black-30 hover-black">are.na</a>
      <a href="https://github.com/mayybee" class="link  dib ml4 ml5-l black-30 hover-black">github</a>

    </div>
  </footer>
