<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta property="og:title" content="Kevin Ma - Product Designer in NYC"/>
  <meta name="twitter:title" content="Kevin Ma - Product Designer in NYC"/>
  <meta itemprop="name" content="Kevin Ma - Product Designer in NYC"/>
  <meta name="description" content="Kevin Ma is a designer and developer in NYC. Currently at Canary. Formerly IBM, HTC. Cornell University '17"/>
  <meta name="keywords" content="Kevin Ma, Canary, Product Designer, Cornell University"/>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url | prepend: site.baseurl }}"/>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}"/>
  <link rel="icon" href="{{site.baseurl}}/assets/icon.png" type="image/x-icon" />
  <title> {{ page.title | default: site.title }} </title>
  <!--fonts-->
  <link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">



    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67478010-6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-67478010-6');
  </script>
<script type="text/javascript" src="/assets/js/processing.min.js"></script>

<script type="text/javascript" src="/assets/js/paper-full.js"></script>
<script type="text/paperscript" src="/assets/js/windmills.js" canvas=canvasThumbnail></script>
</head>
