<nav class="dt w-100 border-box pv5-ns pv4 horizontal-margin-wide">
  <div class="dtc v-mid w-100 w-75-ns tr">
    <a href="{{site.baseurl}}/" class="f5 f4-ns fw5 link black font-sans-serif lh-copy dib ml4 ml5-l {% if page.title == "Kevin Ma"%}strike{% endif %}">work</a>
    <a href="{{site.baseurl}}/about/" class="f5 f4-ns fw5 link black font-sans-serif lh-copy dib ml4 ml5-l {% if page.title == "About"%}strike{% endif %}">about</a>
  </div>
</nav>


<!-- <nav class="pt3-l pl4 pt2 pb1 fixed bg-white bg-transparent-l bb bn-l b--black-20 w-100 w4-l nav">
  <a href="{{site.baseurl}}/" class="f5 f4-ns fw5 link black font-body lh-copy db {% if page.title == "Kevin Ma"%}strike{% endif %}">work</a>
  <a href="{{site.baseurl}}/about/" class="f5 f4-ns fw5 link black font-body lh-copy db {% if page.title == "About"%}strike{% endif %}">about</a>
  <a href="{{site.baseurl}}/about/" class="f5 f4-ns fw5 link black font-body lh-copy db {% if page.title == "About"%}strike{% endif %}">writing</a>
</nav> -->
