<nav class="center db dt-ns ph3 ph4-ns border-box pv3 mw9 w-100 graphik">
  <div class="dtc w-one-third tl"><a href="/" class="f3 link black nav-font dib dim lh-title  tracked-tight ">{% if page.title != "Kevin Ma - Product Designer in NYC" %}Kev <sub>the</sub> Ma{% else %}Kev <sub>the</sub> Ma{% endif %}</a></div>
  <div class="dtc w-two-thirds tr">
    <a href="{{site.baseurl}}/" class="f3 fw4 link dib ml4 ml5-l black {% if page.title == "Kevin Ma - Product Designer in NYC"%}strike{% endif %}">work</a>
    <a href="{{site.baseurl}}/about/" class="f3 fw4 link dib ml4 ml5-l black {% if page.title == "About"%}strike{% endif %}">about</a>
  </div>
</nav>

<!-- Horizontal Nav -->
<!-- <div class="pt3-l pl4 pt2 pb1 fixed bg-white bg-transparent-l bb bn-l b--black-20 w-100 w4-l nav">
  <a href="{{site.baseurl}}/" class=" f6 f5-ns fw5 link font-brand font-primary lh-copy underline-hover db-l dib">Home</a>
  <a href="{{site.baseurl}}/index.html#projects" class="f6 f5-ns fw5 link font-brand font-primary lh-copy underline-hover db-b">Work</a>
  <a href="{{site.baseurl}}/about/" class="f6 f5-ns fw5 link black font-brand lh-copy underline-hover db">About</a>
  <a href="{{site.baseurl}}/assets/resume.pdf" class="f6 f5-ns fw5 font-brand link black lh-copy underline-hover db">Resume</a>
  <a href="mailto:kym5@cornell.edu" class="f6 f5-ns fw5 font-brand link black lh-copy underline-hover db">Contact</a>
</div> -->

<!-- 

Kevin Ma -->

