<nav class="ph3 ph4-ns pv4 mw9 w-100 graphik f5 fw4">
  <div class="w-50-ns pr4-ns pr0 w-100 fl-ns fn"><a href="/" class="link dib black lh-copy">Kevin {% if page.permalink == "/" or page.permalink == "/about/" %}is a software designer and developer in New York{% endif%}</a></div>
  <div class="w-50-ns w-100 fr-ns fn">
    <a href="{{site.baseurl}}/" class="fr-ns fn f4 fw4 link dib black {% if page.permalink == "/"%}strike{% endif %}">work</a>
    <a href="{{site.baseurl}}/about/" class="fr-ns fn f4 fw4 link dib black mr4 ml4 ml0-ns mt4 mt0-ns {% if page.permalink == "/about/" %}strike{% endif %}">about</a>
  </div>
</nav>