{% assign suitables = '' %}
{% for project in site.project %}
    {% if project.hide == false and project.case-study == true  %}
      {% assign projName = project.title %}
        {% assign suitables = suitables | append: projName | append: "," %}
    {% endif %}
{% endfor %}
{% assign suitables = suitables | split: "," %}

{% for projName in suitables %}
  
{% endfor %}

{% for proj in suitables %}
  {% if proj == page.title %}
  {% assign index = forloop.index + 1%}
    {% for project in site.project%}
      {% if project.title == suitables[index] %}
      <div class="f3 pv5 cf ph4">

      <a href="{{ site.baseurl }}{{ project.url }}" class=" link center pointer">
        <section class="tc w-50-ns w-100 center">
            <p class="baskerville f3 black">Next Project</p>
            <h1 class="fw4 f3 graphik black">{{ project.title }}</h1>
            <p class="f4 fw4 black-40 graphik">{{ project.year}}</p>
            <p class="f4 fw4 lh-copy black graphik">{{ project.description }}</p>
      </section>
    </a>
  </div>



      {% endif %}
      {% endfor %}
  {% endif %}
{% endfor %} 








