---
---
@charset "utf-8";

@import 'vendor/normalize';

@import 'base/root';

@import 'tachyons/tachyons';

a {
  cursor: pointer;
}

@font-face {
    font-family: Cardo;
    font-style: normal;
    src: local('Cardo')
      url('/assets/fonts/Cardo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Tiempos Headline;
  font-style: normal;
  src:
    url('/assets/fonts/Tiempos-Headline-Semibold.otf') format('opentype');
}

@font-face {
  font-family: Tiempos;
  font-style: normal;
  src:
    url('/assets/fonts/Tiempos-Text-Regular.otf') format('opentype');
}


@font-face {
  font-family: Raleway;
  font-style: italic;
  font-weight: 300;
  src: local('Raleway-Light'),
      url(/assets/fonts/Raleway-Light.ttf);
}
@font-face {
  font-family: Raleway;
  font-style: italic;
  font-weight: 400;
  src: local('Raleway-Regular'),
      url(/assets/fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: Raleway;
  font-style: italic;
  font-weight: 500;
  src: local('Raleway-Medium'),
      url(/assets/fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: Raleway;
  font-style: italic;
  font-weight: 600;
  src: local('Raleway-SemiBold'),
      url(/assets/fonts/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: Raleway;
  font-style: italic;
  font-weight: 700;
  src: local('Raleway-Bold'),
      url(/assets/fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: Raleway;
  font-style: italic;
  font-weight: 800;
  src: local('Raleway-Black'),
      url(/assets/fonts/Raleway-Black.ttf);
}

.serif {
  font-family: "Source Serif Pro";
}

.font-primary {
    font-family: 'Raleway', sans-serif;
}

.font-body {
  // @extend .athelas;
  font-family: 'adobe-caslon-pro', Georgia, Times, serif;
  line-height: 1.5
}

.font-light {
  @extend .black-50;
}

.font-lightest {
  @extend .black-20;
}

.font-brand {
  @extend .blue;
}

.bg-brand {

}

.hover-brand:hover {
  @extend .hover-red;
}

.font-dark {
  // @extend .black-80;
  color: #051033;
}

.horizontal-margin-wide {
  @extend .ph4, .ph5-m, .ph6-l;
}

.nav {
  a {
    @extend .db-l, .dib, .mr3, .mr0-l;
  }
}

.project-body {
  p, ol, ul {
    @extend .lh-copy, .f4-ns, .f5, .font-body;
  }
  img {
    @extend .mt5-ns, .mt4;
  }
  li {
    @extend .pb1;
  }
  h2 {
    @extend .pt5, .fw7, .f2, .font-primary, .mb0;
  }
  h3 {
    @extend .fw7, .f3, .pt0, .font-primary, .mb0;
  }
  h6 {
    @extend .f2, .font-body, .fw3, .font-lightest, .center;
  }
  
  a {
    @extend .link, .lh-copy, .font-brand, .underline-hover, .font-body;
  }
  .button {
   @extend .f7, .f6-ns, .fw5, .ttu, .tracked, .link, .dim, .ba, .bw1, .ph4, .pv3, .mv2, .dib, .black, .font-primary;
  }
  .button:hover {
    text-decoration: none;
  }
  video {
   @extend .mt5;
  }
}

.page-body {
  p {
    @extend .f4, .fw4, .lh-copy, .measure, .font-body;
  }

  a {
    @extend .link, .lh-copy, .font-brand, .underline-hover, .font-body;
  }
}

.blog-body {
  p {
    @extend .f4, .mb4, .center, .measure, .font-body, .lh-copy;
  }
  img {
    @extend .db , .mt4, .mt5-ns;
  }
  a {
    @extend .link, .lh-copy, .font-brand, .underline-hover, .font-body;
  }
}


.b--true-yellow {
  border-color: white;
}
