---
layout: default
---
{% if page.banner %}
<div class="ph5-l ph4-m ph3">
<div class=" vh-75-ns vh-50 cover bg-center" style="background-image: url(/assets/img/{{page.banner}});"></div>
</div>
{% endif %}

  <div class="measure f3 center mb5 ph4">
    <div class="pt5 pb3">
      <h1 class="fw7 f1 fl w-100 mt2 mb3 avenir lh-title">{{ page.title }}</h1>
      <p class="f3 fw4 lh-copy measure avenir silver">
        {{ page.introduction }}
      </p>
    </div>
    <div class="project-body">
      {{ content }}
    </div>
  </div>

{% include project-footer.html %}
